<p>stuff</p>

<ul>

<% @registrants.each do |registrant| %>
  <li><%=registrant.email%></li>
<% end %>

</ul>

<!-- done in slim -->
<!-- p Hi, there!

ul - @registrants.each do |registrant|
  li  -->
