<!DOCTYPE html>
<html>
<head>
  <title>Newrailsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


<!-- done in slim -->
<!-- doctype html
html
  head
    meta charset="utf-8"
    = csrf_meta_tags

    title Newrailsapp

    = stylesheet_link_tag 'application', media: 'all'
  body
    .container
      .row
        .col-md-6.col-md-offset-3
          ==yield

    = javascript_include_tag 'application'
 -->